.tags{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 24px 0;
    color: #FFFFFF;
}

.tag {
    background-color: #FF6060;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 142.6%;
    margin-right: 10px;
    border-radius: 10px;
    padding: 3px 30px;
    white-space: wrap;
}

@media (max-width:375px){
    .tags{
        flex-wrap: wrap;
    }

    .tag {
    font-size: 12px;
    margin-bottom: 2%;
    }
}