.rating{
    display:flex;
    justify-content: flex-end;
    margin-top:15%;
}

.ratingStars{
    padding: 3%;
    height: 150%;
    width: 100%;
}

@media (max-width:350px){

    .rating{
        justify-content: flex-start;
        margin-top:0%;
    }

    .ratingStars{
        padding: 1%;
        height: 100%;
    }
}