.accommodationContainer{
  max-width: 1500px;
  width:100%;
  display:flex;
  flex-direction:column;
  flex-grow:1;
  justify-content: flex-start;
}

.accommodationContainerTop{
  justify-content: space-between;
  display: flex;
  margin: 24px 100px 0 100px;
}

.accommodationContainerTopLeft{
  margin-top: 6px;
}

.accomodationTitle {
  font-size: 36px;
  color: #FF6060;
  font-weight: 500;
  line-height: 142.6%;
  align-items: flex-end;
}

.accomodationLocation {
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  align-items: flex-end;
  line-height: 142.6%;
}

.tagsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0 24px 0;
  color: #FFFFFF;
}