.accommodationContainer{
  max-width: 1500px;
  width:100%;
  display:flex;
  flex-direction:column;
  flex-grow:1;
  justify-content: flex-start;
}

.accommodationContainerTop{
  justify-content: space-between;
  display: flex;
  margin: 24px 100px 0 100px;
}

.accommodationContainerTopLeft{
  margin-top: 6px;
}

.accomodationTitle {
  font-size: 36px;
  color: #FF6060;
  font-weight: 500;
  line-height: 142.6%;
  align-items: flex-end;
}

.accomodationLocation {
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  align-items: flex-end;
  line-height: 142.6%;
}

.Tag {
  background-color: #FF6060;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 58px;
  height: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.6%;
  margin-right: 10px;
  border-radius: 10px;
  padding: 3px 30px;
  white-space: nowrap;
}

.accommodationContainerTopRight{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 18%;
}

.hostInformations{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF6060;
}

.hostName{
  font-size: 18px;
  width: 80px;
  font-weight: 500;
  line-height: 142.6%;
  padding-right: 10px;
  text-align: right;
  align-items: flex-end;
  display: flex;
}

.hostPicture{
  display: flex;
}

.hostImage{
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.ratingContainer {
  width: 196px;
  height: 36px;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: flex-end;
}

.DropdownContainer{
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 62px;
}