.accommodationContainer{
  font-family: 'Montserrat', sans-serif;
  width:100%;
  display:flex;
  flex-direction:column;
  flex-grow:1;
  justify-content: flex-start;
}

.accommodationContainerTop{
  justify-content: space-between;
  display: flex;
  margin-left:7%;
  margin-right:7%;
}

.accommodationTitle {
  font-size: 40px;
  color: #FF6060;
  font-weight: 500;
  line-height: 142.6%;
  align-items: flex-end;
  margin-top: 0%;
  margin-bottom: 0%;
}

.accommodationLocation {
  color: #FF6060;
  font-size: 20px;
  font-weight: 500;
  align-items: flex-end;
  line-height: 142.6%;
  margin-top: 0%;
}

.accommodationContainerTopRight{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hostInformations{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF6060;
}

.hostName{
  font-size: 18px;
  font-weight: 500;
  line-height: 142.6%;
  padding-right: 10px;
  text-align: right;
  align-items: flex-end;
  display: flex;
}

.hostPicture{
  display: flex;
}

.hostImage{
  border-radius: 50%;
  width: 100%;
  height: 64px;
  object-fit: cover;
}

.ratingContainer {
  margin-top:6%;
}

.accommodationDropdownContainer{
  display: flex;
  justify-content: space-between;
  margin-left: 6%;
  margin-right: 6%;
}

.DropdownAccommodation{
  height:100%;
  width: 45%;
}

@media (max-width:375px){
  .accommodationContainerTop{
    margin-left: 5%;
    margin-right:5%;
    flex-direction: column;
  }

  .accommodationTitle{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }

  .accommodationContainerTopRight{
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .ratingContainer {
    margin-top:0%;
  }

  .hostName{
    font-size: 12px;
  }

  .hostImage{
    height: 40px;
  }

  .accommodationDropdownContainer{
    flex-direction: column;
    margin-left: 3%;
  }
}