.aPrposContainer{
    max-width:100%;
    display:flex;
    flex-direction:column;
    flex-grow:1;
    justify-content: flex-start;
}

.aProposBackground{
    height:225px;
    background-image: url('../../images/background2.png');
    background-size:cover;
    background-position:center;
    border-radius: 25px;
    margin: 50px;
}

.aProposDropdown{
    width:80%;
    margin:0 auto;
}

.DropdownContainer{
    width:80%;
    margin:0 auto; 
}

@media (max-width:767px) {
    .aProposBackground{
        margin:0 20px;
    } 
}    