.aPrposContainer{
    font-family: 'Montserrat', sans-serif;
}

.aProposBackground{
    width: 90%;
    height: 223px;
    background-image: url('../../images/background2.png');
    background-size:cover;
    background-position:center;
    border-radius: 25px;
    margin-top: 5%;
    margin-left:6%;
}

.aProposDropdown{
    width:70%;
    margin:0 auto;
}

.DropdownContainer{
    width:80%;
    margin:0 auto; 
}

@media (max-width:767px) {
    .aProposBackground{
        margin:20px;
        min-height:110px;
        max-height:150px;
    } 

    .aProposDropdown{
        margin-left: 4%;
        width: 90%;
    }
}    