.homeContainer{
    font-family: 'Montserrat', sans-serif;
}

.homeBackground{
    width: 90%;
    height: 223px;
    background-image: url('../../images/Background.png');
    background-size:cover;
    background-position:center;
    border-radius: 25px;
    margin-top: 5%;
    margin-left:6%;
}

.Background{
    display:grid;
    justify-content: center;
    height:100%;
    align-items:center;
    font-size:1.5rem;
    color: rgba(255,255,255,1);
    background-color:rgba(0,0,0,0.3);
    border-radius:25px;
}

h1{
    font-weight: 500;
}

.HomeThumbContainer{
    margin-top: 3%;
    margin-left:6%;
    margin-right: 4%;
}

.ThumbList{
    grid-template-columns:auto auto auto;
    display:grid;
    background-color: #F6F6F6;
    border-radius:25px;
    padding-top:1%;
    padding-bottom:1%;
}

li{
    list-style: none;
}

@media (max-width :991px) {
    .Background{
        height:100%;
    }

    .ThumbList{
        grid-template-columns: auto auto;
    }
}
 
@media (max-width :375px) {
    .Background{
        height:100%;
    }

     .ThumbList{
        grid-template-columns: auto ;
        background-color: #FFFFFF;
    }
     .HomeThumbContainer{
        margin:20px;
    }
 
    .homeBackground{
        margin:20px;
        min-height:110px;
        max-height:150px;
    }
}