.slideshow {
    max-width: 1440px;
    margin: 5%;
    overflow: hidden;
    max-width: 100%;
}
  
.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}
  
.slide {
    display: inline-block;
    height: 400px;
    width: 100%;
    border-radius: 40px;
}

.arrow_container {
    height:100%;
    width:100%;
    margin:0 auto;
    position:absolute;
    bottom:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrousel_number{
    font-size: 1.25rem;
    color:#ffffff;
    position:absolute;
    bottom :10px;
    display:flex;
    justify-content: center;
    width:100%;
}

button{
    border:none;
    background-color: rgba(255,255,255,0);
}

.arrow_right {
    margin-right:10px;
}

.arrow_left{
    margin-left:10px;
}

button:hover{
    cursor:pointer;
}