.slideContainer {
  max-width: 100%;
  margin: 20px 100px 24px 100px;
  position: relative;
}

.slide {
  width: 100%;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
}

.slideImage {
  height: 415px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.arrowLeftShow {
  position: absolute;
  cursor: pointer;
  width: 47px;
  height: 79px;
  left: 2%;
}

.arrowRightShow {
  position: absolute;
  cursor: pointer;
  width: 47px;
  height: 79px;
  right: 2%;
}

.arrowHide {
  display: none;
}

.indexInfo {
  position: absolute;
  font-size: 18px;
  left: 50%;
  top: 90%;
  color: #FFFFFF;
}

@media (max-width: 375px) {
  .slideContainer {
    margin: 27px 20px 15px 20px;
  }
  .slideImage {
    border-radius: 10px;
    height: 255px;
  }
  .arrowLeftShow {
    width: 20px;
    height: 24px;
  }
  .arrowRightShow {
    width: 20px;
    height: 24px;
  }
  .indexInfo {
    left: 46%;
  }
}