.headerContainer{
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:2%;
    margin-left: 5%;
    margin-right: 3%;
}

.headerContainerLogo {
  width: 15%;
  height: 25%;
}

.headerContainerLinks {
    width: 250px;
    display: flex;
    justify-content: flex-end;

}

.headerContainerLink {
    color: #FF6060;
    font-size: x-large;
    font-style: normal;
    text-decoration-line: none;
    margin:auto;
    padding: 5%;
    white-space: nowrap;
}

.headerContainerLink:hover {
    text-decoration-line: underline;
}

@media (max-width:767px) {
    .headerContainerLogo {
        width: 30%;
        height: 30%;
    }

    .headerContainerLinks{
        width:50%;
    }
  }
  
  @media (max-width:350px) {

  }