.headerContainer{
    max-width: 100%;
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    margin: 0 100px;
}

.headerContainerLogo {
  width: 210px;
  height: 68px;
}

.headerContainerLinks {
    display: flex;
}

.headerContainerLink {
    color: #FF6060;
    font-size: x-large;
    font-style: normal;
    text-decoration-line: none;
    margin:auto;
    padding: 2%;
    white-space: nowrap;
}

.headerContainerLink:hover {
    text-decoration-line: underline;
}