.footerContainer{
    background-color:rgba(0,0,0,1);
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    margin-top:40px;

}

.footerImage{
    margin-top:30px;
}

.footerText{
    color: #ffffff;
    font-size: 1.5rem;
    margin-top:0px;
}

@media (max-width:767px) {
 .footerImage{
    width:50%;
    height:50%;
 }
}

@media (max-width:350px) {

}