.root
{
  margin: 0 auto;
  align-items:center;
  font-family: 'Montserrat', sans-serif;
  box-sizing:border-box;
  min-height:100vh;
  display:flex;
  flex-direction: column;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat");
  font-weight: 500;
}

body{
  margin:0;
}

@media (max-width:767px){
  html{
    font-size:10px;
  }
}
 